<!-- Мобильная нижняя навигация (компонент) -->
<div class="mobile-bottom-nav d-md-none" id="mobileBottomNav">
    <a href="/HomeWork/" class="mobile-nav-item" data-page="home">
        <i class="fas fa-home"></i>
        <span>Главная</span>
    </a>
    <a href="/HomeWork/client.html" class="mobile-nav-item" data-page="orders">
        <i class="fas fa-clipboard-list"></i>
        <span>Заказы</span>
    </a>
    <a href="/HomeWork/masters.html" class="mobile-nav-item" data-page="masters">
        <i class="fas fa-user-tie"></i>
        <span>Мастерам</span>
    </a>
    <a href="#" class="mobile-nav-item" id="mobileProfileBtn" data-page="profile">
        <i class="fas fa-user"></i>
        <span>Профиль</span>
    </a>
</div>