<!-- Мобильная навигация -->
<div class="mobile-bottom-nav">
    <a href="/HomeWork/" class="mobile-nav-item">
        <i class="fas fa-home"></i>
        <span>Главная</span>
    </a>
    <a href="/HomeWork/client.html" class="mobile-nav-item">
        <i class="fas fa-clipboard-list"></i>
        <span>Заказы</span>
    </a>
    <a href="/HomeWork/master.html" class="mobile-nav-item">
        <i class="fas fa-user-tie"></i>
        <span>Мастерам</span>
    </a>
    <a href="#" class="mobile-nav-item" id="mobileProfileBtn">
        <i class="fas fa-user"></i>
        <span>Профиль</span>
    </a>
</div>